{% extends 'base.html.twig' %}
{% block title %} Články | {{ parent() }}{% endblock %}
{% block body %}
    <section>
        <div class="blog-page">
            <h1>{{ title }}</h1>
        </div>
    </section>

{% endblock %}