<div class="swiper review-slider review-slider-inner-box">
    {% use "Components/slider.html.twig" %}
    {% block slideContent %}
        <div class="swiper-wrapper">
            {% for reviews in peopleReviews %}
                <div class="swiper-slide">
                    <img src="{{ asset(reviews.getReviewPhotoPath ) }}" alt="{{ reviews.getReviewPhotoName }}">
                </div>
            {% endfor %}
        </div>
    {% endblock %}
    {% block slideNavigation %} {{ parent() }} {% endblock %}
</div>