$main-yellow: #fdd154;
$light-apricot: #fff5ef;;

.price-list-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  p {
    margin: 0.3rem;
  }

  .price-article-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  .wedding-price-background {
    background-color: $light-apricot;
  }

  .price-dropdown-header {
    cursor: pointer;
    background-color: $main-yellow;
    border-radius: 10px 10px 0 0;
  }

  .price-dropdown.hidden {
    display: none;
  }

  .price-row {
    position: relative;
    background-color: $light-apricot;
    border-bottom: 3px solid $main-yellow;
    &:hover {
      background-color: gold;
    }
  }

  .price-item {
    border-bottom: 3px solid $main-yellow;
  }

  .wedding-price-item {
    border-bottom: 3px solid $main-yellow;
  }

  .wedding-price-item p {
    margin: 0.5rem 0 0 0;
  }

  .price-amount {
    font-weight: bold;
  }

  .price-list-signs{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border: 2px solid black;
    width: 30px;
    height: 30px;
    position: relative;
    border-radius: 50%;
  }
  .price-list-signs .sign-bar{
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: black;
  }

  .price-list-signs .sign-bar:nth-child(2){
    transform: rotate(90deg);
    transition: transform 0.7s;
  }

  .price-list-signs.show .sign-bar:nth-child(2){
    transform: rotate(180deg);
  }

  @media screen and (max-width:830px) {
    .price-list-signs{
      width: 25px;
      height: 25px;
      border: 2.5px solid black;
    }

    .price-list-signs .sign-bar{
      position: absolute;
      width: 15px;
      height: 2px;
      background-color: black;
    }
  }
  .price-article-item{
    padding: 0 10px;
  }
}