
        {% block slideContent %}
        <div class="swiper-wrapper">
            <div class="swiper-slide">Slide 1</div>
            <div class="swiper-slide">Slide 2</div>
            <div class="swiper-slide">Slide 3</div>
            <div class="swiper-slide">Slide 4</div>
            <div class="swiper-slide">Slide 5</div>
            <div class="swiper-slide">Slide 6</div>
            <div class="swiper-slide">Slide 7</div>
        </div>
        {% endblock %}

{% block slidePagination %}
    <div class="swiper-pagination"></div>
{% endblock %}
{% block slideNavigation %}
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
{% endblock %}
